name: Generate-images-automatically

on:
  schedule:
    - cron: '0 12 * * *'
  workflow_dispatch: null

jobs:
  create-profile-summary:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: vn7n24fzkq/github-profile-summary-cards@5055b27ac896c627043ead432f9b2fa973aa2c80 # v0.7.0
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        with:
          USERNAME: ${{ github.repository_owner }}
          AUTO_PUSH: false
      - run: git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
      - uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          commit_message: 'chore: Generate profile summary cards'
          file_pattern: './profile-summary-card-output/'
          commit_user_name: profile-summary-cards[bot]
          commit_user_email: profile-summary-cards-bot@example.com
      - run: git remote remove origin
  create-metrics:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    needs:
      - create-profile-summary
    permissions:
      contents: write
    steps:
      - name: Generate metrics
        uses: lowlighter/metrics@366f8b9dfe3a59656c67d5dcad9950f59c9bc96d # latest
        with:
          token: ${{ secrets.TOKEN }}
          user: Omochice
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Tokyo
          filename: metrics.svg
          committer_message: "chore: Update metrics.svg - [Skip GitHub Action]"
          plugin_languages: yes
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_threshold: 0%
  create-lapras-card:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs:
      - create-profile-summary
      - create-metrics
    steps:
      - uses: kawamataryo/lapras-card-readme@97beea07675cba3eded93eaeb71744413d7f8e8b # v1.3.0
        with:
          SHARE_ID: K4AJVET
          ICON_FIRST: "#888888"
          ICON_SECOND: "#cccccc"
          BACKGROUND_FIRST: "#767676"
          BACKGROUND_SECOND: "#e1e1e1"
          LANG: "en"
          UPDATE_TIME: "false"
