name: Lint github actions

on:
  - push
  - pull_request

jobs:
  linting:
    timeout-minutes: 30
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Check Changed Files
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            actions:
              - .github/workflows/*
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        if: steps.filter.outputs.actions == 'true'
        with:
          aqua_version: v2.55.2
      - name: Lint github actions
        if: steps.filter.outputs.actions == 'true'
        run: |
          actionlint -color
          ghalint run
